[
    {lager, [
        {error_logger_hwm, 600},
        {log_root, "/var/log/hellgate"},
        {crash_log, "crash.log"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]},

    {hellgate, [
        {ip, "::"},
        {port, 8022},
        {service_urls, #{
            'Automaton' => <<"http://machinegun:8022/v1/automaton">>,
            'EventSink' => <<"http://machinegun:8022/v1/event_sink">>,
            'Accounter' => <<"http://shumway:8022/accounter">>
        }}
    ]}
].
